@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

.fondo-magico {
    background: url("src/img/OP0IUE0.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
    color: #2c1a00;
    font-family: 'Cinzel', serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  
  .titulo-formulario {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
  }
  
  .form-magico {
    background-color: rgba(255, 255, 255, 0.95);
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .tarjeta-aprendiz {
    background-color: antiquewhite;
    background-size: cover;
    background-position: center;
    padding: 1.5rem;
    margin: 1rem auto;
    border-radius: 8px;
    max-width: 500px;
    color: #2b1b00;
    font-family: 'Cinzel', serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-shadow: 0.5px 0.5px #fdf6e3;
  }
  
  .tarjeta-aprendiz span {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    
  }
  
  h4 {
    color: green;
  }

  .list-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 3em;
  }